*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: #f2f4f7; */

}

/* -------- Navbar -------- */
.navbar{
    background-color: #ffffff !important;
    margin-top: 25px !important;
    
}
.navbar img{
    width: 30px;
    display: inline;
    margin: 0px 30px !important;
    /* margin-top: 20px !important; */
}
.nav-link .d{
    font-size: 10px;
}
.navbar ul{
    height: 65px !important;
    z-index: 1;
    border-bottom: 1px solid black;
}
.navbar a{
    background-color: white;
    padding: 05px 15px;
    text-align: center;
}


/* ---------- Basic Information ------ */
.basci-info{
    padding: 10px 0px;
}
.basci-info .heading{
    font-weight: 500;
    margin-left: 27px;

}
.heading{
    font-weight: 500;
    color: #30475e;
    

}
label, .label{
    margin-bottom: -0.5rem;
    font-weight: 450;
    color: #30475e;
    font-size: 14px;
}
input{
    margin-bottom: 10px;
}

/* ------ Last 12 months ------------- */
/* .last12{
    
} */
.headingtext{
    font-size: 14px;
    font-weight: 350;
    margin-top: 22px;
    position: relative;
    font-weight: 410;
}
.last12 span::before{
    content: "";
    width: 60px;
    margin: 8px 0px 0px -70px;
    border-bottom:  1px solid black;
    height: 2px;
    z-index: 1;
    display: inline;
    position: absolute;
    float: right;
}



/* ------ top6------ */
.top6{
    margin-top: 15px !important;
    padding-left: 10px !important;
}
.top6 .theading{
    font-weight: 400;
    background-color: #f6f8fe;
    
}
.top6 td{
    
    padding:10px 0px !important;
}

/* ------ bottum6------ */
.bottum6{
    margin-top: 15px !important;
    padding-left: 10px !important;
}
.bottum6 .theading{
    font-weight: 400;
    background-color: #f6f8fe;
    
}
.bottum6 td{
    
    padding:9.5px 0px !important;
}

/* ---------- Address Information ------ */
/* .address{
    margin: 10px 20px;
} */
.address .heading{
    font-weight: 500;
    padding-left: 40px;
}
.address .check{
    padding: 4px 0px;
}
.address .btn{
    background-color: #30475e !important;
    padding: 13px 110px;
    margin: 45px 0px 45px 110px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: capitalize;
    

}
.right{
    margin-left: -13px !important;
}

/* ---------- Charts ----------- */
.chartText{
    position: relative;
}
.chartText p{
    font-size: 14px;
    margin: 0px 5px;
    color: #30475e;
}
.chartText .d2017::before{
    content: "";
    width: 10px;
    height: 10px;
    border: 6px solid;
    margin-top: 6px;
    margin-left: -13px !important;
    border-radius: 50%;
    display: inline;
    position: absolute;
    color: #ff9934;
}
.chartText .d2018::before{
    content: "";
    width: 10px;
    height: 10px;
    border: 6px solid;
    margin-top: 6px;
    margin-left: -13px !important;
    border-radius: 50%;
    display: inline;
    position: absolute;
    color: #ffcd56;
}
.chartText .d2019::before{
    content: "";
    width: 10px;
    height: 10px;
    border: 6px solid;
    margin-top: 6px;
    margin-left: -13px !important;
    border-radius: 50%;
    display: inline;
    position: absolute;
    color: #4d55ba;
}
.chartText .d2020::before{
    content: "";
    width: 10px;
    height: 10px;
    border: 6px solid;
    margin-top: 6px;
    margin-left: -13px !important;
    border-radius: 50%;
    display: inline;
    position: absolute;
    color: #8cf0df;
}
.chartText .d2021::before{
    content: "";
    width: 10px;
    height: 10px;
    border: 6px solid;
    margin-top: 6px;
    margin-left: -13px !important;
    border-radius: 50%;
    display: inline;
    position: absolute;
    color: #30475e;
}
.rowDetail h6{
    font-size: 15px !important;
}
.rowDetail .chartrow::before{
    content: "";
    width: 180px;
    height: 0.1px;
    border: 0.1px solid;
    margin-top: 6px;
    margin-left: 15px !important;
    display: inline;
    color: #b1b3b4;
    float: right !important;
}



@media (max-width: 992px){
    .address .btn{
        background-color: #30475e !important;
        padding: 10px 80px;
        margin: 35px 0px 45px 60px;
        border-radius: 10px;
        font-weight: 430px !important;
        text-transform: capitalize;
    }
    .heading{
        font-weight: 300;
        font-size: 15px;

    }

    label, .label{
        margin-bottom: -0.4rem;
        font-size: 15px !important;
        font-weight: 400 !important;
    }

    .last12 span::before{
        content: "";
        width: 20px;
        margin: 8px 0px 0px -25px;
        border-bottom:  1px solid black;
        height: 2px;
        z-index: 1;
        display: inline;
        position: absolute;
        float: right;
    }
    .rowDetail h6{
        font-size: 12px !important;
    }
    .rowDetail .chartrow::before{
        content: "";
        width: 60px;
        height: 0.1px;
        border: 0.1px solid;
        margin-top: 7px;
        margin-left: 15px !important;
        display: inline;
        color: #b1b3b4;
        float: right !important;
    }
    .chartText h6{
        font-size: 10px !important;
    }
}
@media (max-width: 768px){
    .last12{
      width: 413px;
      margin: 0px 0px 0px 17px !important;
    }
    input,select{
        margin-bottom: 05px;
        font-size: 12px !important;
        height: 28px !important;
    }
    .form-check-input{
        height: 13px !important;
    }
    .textb{
        width: 340px !important;
        margin-right: 5px;
    }
    .navbar{
        width: 420px !important;
        margin: 20px 0px 0px 32px !important;
    }
    .address .btn{
        background-color: #30475e !important;
        padding: 10px 80px;
        margin: 35px 0px 45px 80px;
        border-radius: 10px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .right{
        margin: 10px 0px 0px 1px !important;
    }
    label, .label{
        margin-bottom: -0.2rem;
        font-size: 12px !important;
        font-weight: 400 !important;
    }
    .rowDetail .chartrow::before{
        content: "";
        width: 280px;
        height: 0.1px;
        border: 0.1px solid;
        margin-top: 7px;
        margin-left: 15px !important;
        display: inline;
        color: #b1b3b4;
        float: right !important;
    }
    
}