*{
    margin: 0;
    box-sizing: border-box;
}
/* ------------ Navbar ------------- */
.navbar-brand{
    font-size: 1.9rem;
    color: #565387 !important;
}
.navbar a {
    font-size: 1.3rem;
    text-transform: capitalize;
}
.menu-active{
    font-weight: bold;
    border-bottom: 1px solid #565383;
}
.navbar a:hover{
    color: #3498db !important; 
}
.navbar-nav{
    text-align: right !important;
    justify-content: right !important;
    margin-left: 550px !important;
}

@media (max-width:976px) {
    .navbar-nav{
        text-align: left !important;
        justify-content: left !important;
        margin-left: 10px !important;
    }
}

/* ----------- Home ------------- */
.text-sulpite{
    color: #3498db !important; 
}
.get-start{
    border-radius: 50px !important;
    font-weight: bold !important;
    color: #3498db !important; 
    margin-bottom: 114px;
}
.get-start:hover{
    transition: .7s ease-in-out;
    background-color: #3498db !important;
    color: #ffff !important;
}
.img-animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
@keyframes up-down{
    0%{
        transform: translateY(10px);
        
    }
    100%{
        transform: translateY(-10px);
    }
}

@media (max-width: 991px) {
    .navbar-brand{
        font-size: 1.5rem;
    }
    .menu-active{
        font-weight: bold;
        border-bottom: none;
    }
    .navbar-nav{
        text-align: left !important;
        justify-content: left !important;
        
    
    }
}

/* ------------ Footer ---------- */

.footer{
    display: ruby-base-container;
    position: sticky;
    vertical-align: bottom;
    margin-bottom: -3vh;

}
