.card1{
    width: 350px !important;
    min-height: 400px;
    box-shadow: #334044 0px 0px 9px 5px !important;
    background-color: rgb(165, 213, 228) !important;
}
.card input{
    border-radius: 19px !important;
}
.info{
    margin: 100px 0 0 0px;
}
@media (max-width: 1199px) {
    .info{
        margin: 90px 0 0 0px;
    }
    #main {
      margin-left: 0;
    }
  }